<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Netduino.Foundation" version="0.26.743" targetFramework="netmf43" />
  <package id="Netduino.Foundation.GraphicsLibrary" version="0.28.768" targetFramework="netmf43" />
  <package id="Netduino.Foundation.Servo" version="0.31.743" targetFramework="netmf43" />
  <package id="Netduino.Foundation.TFTSPI" version="0.16.743" targetFramework="netmf43" />
</packages>